/* CSS File */

/* STYLE SHEET */
/*
COLORS
#F7CAC9 Rose Quartz
#B3CEE5 Serenity


FONTS
Poppins Sans Serif
h1 - 5em 300 weight uppercase
	span - 700 weight
h2 - 1.25em bolder
h3 - 1 em 400 weight
h4 - 1 em 400 weight uppercase
h5
h6
body - 1em
header - 0.65em

/** GLOBAL STYLING  **/

/* ======================================= */

/* Box Model fix */

html {box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit;}

/* ======================================= */


/* clearfix */

.clearfix:before,

.clearfix:after {

  content: " ";

  display: table;

}



.clearfix:after {

  clear: both;

}


/* ======================================= */

/* Typography */

	body {
		font-family: 'Poppins', sans-serif;
	}

	p {
		font-size: 1em;
		font-weight: 400;
	}

	h2 {
		font-size: 1.25em;
		font-weight: bolder;
	}

	a {
		color: #B3CEE5;
	}

	a:hover {
		color: #B3CEE5;
	}
/* ======================================= */

/* header  ===   
uses classes: "row" "added-margin"
uses IDs:  

*/


	header {
		z-index: 300;
		position: fixed;
		background-color: white;
	}

	header a {
		text-decoration: none;
		font-weight: black;
		color: black;
	}

	header ul {
		list-style: none;
		margin: 10px;
	}

	header li {
		float: right;
	}

	header li a {
		text-transform: uppercase;
		display: block;
		padding: 15px 5px 0px 5px;
		font-size: 0.65em;
		font-weight: bolder;
	}


/* ================================== *//*
HOMEPAGE STYLE GOES NEXT
/* ================================== */ 

/* hero section  ===   
uses classes: "row" "button"
uses IDs: "hero"
uses Combinators: 
	class: button for <a> tags
*/ 
	#hero {
		color: black;
		padding: 10px;
		box-sizing: border-box;
		float: right;
		background-position: contain;
		background-size: initial;
		background-color: #ffffff;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2391a8d0' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	}
	
	#hero h4 {
	transform: rotate(270deg);
	}

	#hero video {
		margin: 60px 900px 0px 175px;
		display: block;
		z-index: 1;
	}

	#hero h1 {
		font-size: 5em;
		text-transform: uppercase;
		font-weight: 300;
		margin-bottom: 0px;
		margin-top: 2px;
	}

	#hero h1 span {
		font-weight: 700;
	}

	#hero h3 {
		font-size: 1em;
		font-weight: 400;
		padding-bottom: 10px;
	}

/* GET TO KNOW ME Button */

	#hero a {
		padding: 10px 50px 10px 50px;
		background-color: #B3CEE5;
		color: white;
		font-weight: 700;
		text-transform: uppercase;
	}

	#hero a:hover {
		border: solid;
		border-width: 2px;
		border-color: #B3CEE5;
		padding: 10px 50px 10px 50px;
		background-color: white;
		color: black;
		font-weight: 700;
		text-transform: uppercase;
	}

	/* The Griff */

	#blue div {
		z-index: 0;
	}

	#blue img {
		margin-top: 30px;
	}

	#blue h1 {
		color: #B3CEE5;
	}

	#blue h3 {
		color: #B3CEE5;
	}

	#blue p {
		font-weight: 400;
		font-size: 0.75em;
		line-height: 1.25em;
		padding-bottom: 10px;
	}

	#blue a {
		border: solid;
		border-width: 2px;
		border-color: #B3CEE5;
		padding: 10px 50px 10px 50px;
		background-color: white;
		color: black;
		font-weight: 700;
		text-transform: uppercase;
	}

	#blue a:hover {
		border: solid;
		border-width: 2px;
		border-color: #F7CAC9;
		padding: 10px 50px 10px 50px;
		background-color: white;
		color: black;
		font-weight: 700;
		text-transform: uppercase;
	}


	/* PORTFOLIO */

	#portfolio .col-4 p {
		font-weight: 300;
		font-size: 0.75em;
		line-height: 1.25em;
	}

	#portfolio h2 {
		font-weight: 700;
		font-size: 1em;
	}




/* ================================== *//*
FOOTER
/* ================================== */ 

/* footer  ===   
uses classes: "copyright", "left-col", "right-col", "center-col"
*/ 


footer {
	background-color: #262626;
	padding-top: 35px;
	padding-bottom: 250px;
	font-size: 90%;
}

footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

footer li {
	margin-bottom: 8px;
}

footer li a {
	color: whitesmoke;
	text-decoration: none;
	font-weight: 400;
}

footer div p a {
	color: white;
	font-weight: 400;
}

footer h2 {
	color: white;
	font-weight: 700;
}

footer h4 {
	color: white;
	font-size: 1em;
	font-weight: 400;
	margin: 0px 0px 8px 0px;
}

.btt {
	font-weight: 700;
	font-size: 1.25em;
}

.left-col, .right-col {
	width: 25%;
	float: left;
}

.center-col {
	width: 50%;
	float: left;
}

.copyright {
	margin-top: 50px;
	margin-bottom: 115px;
	color: white;
	font-weight: 300;
	line-height: 20px;
	text-transform: none;
}
